<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table th:fragment="section(order)">
    <tr th:each="form, formStat : ${order}">
        <td>
            <table>
                <tr>
                    <td>
                        <span>Product Name:</span>
                        <span th:text="${form.productName}"></span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span>Quantity:</span>
                        <span th:text="${form.quantity}"></span>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
</body>
</html>